.instagram-pics{
    list-style: none;
    padding-left: 0;

    >li{
        margin: 3% 0 0 3%;
        width: 22%;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        border: 1px solid #222;

        &:nth-child(4n+1){
            margin-left: 0;
        }

        a{

            img{
                width: 100%;
                max-width: 100%;
                display: block;
                transition: all .2s ease;
            }

            &:hover,
            &:focus{
                img{
                    transform: scale(1.1);
                }
            }
        }
    }
}

