.socials{
    padding: 12px 0;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    font-family: Oswald, sans-serif;
    font-weight: 400;
    font-size: 18px;

    >span{
        display: none;
        @media (min-width: $screen-md-min){
            display: inline;
        }
    }
    a{
        color: #fff;
        border-radius: 3px;
        display: inline-block;
        position: relative;
        text-align: center;
        transition: all .2s ease;
        color: #fff;
        font-size: 1.5em;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;

        &+a{
            margin-left: 0.5em;
        }

        &:hover,
        &:focus{
            color: #fff;
            -webkit-animation-name:fadeIn;
                    animation-name:fadeIn;
            -webkit-transform-origin: center;
                    transform-origin: center
        }

        .fa{
            transition: all .2s ease;
        }
    }
}

